body {
	background:url('../images/bg.jpg') no-repeat 0px 0px;
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	background-attachment: fixed;
    background-position: center;
    color: #ffffff;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', sans-serif;
}

h1{
	font-size:40px;
	color:#fff;
	margin:30px 0px 30px 0px;
	text-align:center;
}

.content{
	width: 600px;
	text-align: center;
	margin: 40px auto;	
}


input[type="text"]{
	width:93.5%;
	padding: 15px;
	border:1px solid #7d7d7d;
	outline:none;
	font-size:13x;
	margin-bottom:20px;
	border-radius:5px;
}






h2 {
  font-size: 24px;
  line-height: 36px;
  text-align: left;
  padding:10px;
}

h2 small {
  font-size: 18px;
}

h3 {
  font-size: 17px;
  line-height: 27px;
}

h3 small {
  font-size: 14px;
}

h4,
h5,
h6 {
  line-height: 18px;
}

h4 {
  font-size: 16px;
  line-height: 18px;
}

h4 small {
  font-size: 14px;
}

h5 {
  font-size: 14px;
  line-height: 18px;
}

h6 {
  font-size: 13px;
  color: #2E2E2E;
  line-height: 18px;
  text-transform: uppercase;
}
.time-title{
	font-size: 22px;
	margin-right: 20px;
}
.my-a{
	background:#e91e63;
	padding:8px 20px;
	margin:10px;
	font-size:18px;
	color:#fff;
	cursor:pointer;
	outline:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	width:100%;
	border:none;
	margin-top:25px;
	margin-bottom: 25px;
	border-radius:5px;
}

input[type="submit"]:hover{
	background:#081148;
}